:root {
  --bg: #0b0c10;
  --hitam-terang: #1f2833;
  --silver: #c5c6c7;
  --primary: #66fcf1;
  --biru-gelap: #45a29e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: #000;
  margin-bottom: 1000px;
}

/* navbar start */

.navbar {
  background-color: var(--bg);
  position: fixed;
  top: 0;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1% 5%;
  border-bottom: solid 1px var(--biru-gelap);
  z-index: 9999;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.navbar .Logo {
  font-family: "Niconne", cursive;
  font-weight: 500;
  font-style: normal;
  color: #66fcf1;
  font-size: 30px;
}

.navbar .navigasi a {
  margin-top: 4%;
  display: inline-block;
  color: aliceblue;
  font-family: "Poppins";
  justify-content: space-between;
  margin: 20px;
}

.navbar .navigasi a:hover {
  display: inline-block;
  color: var(--biru-gelap);
  border-bottom: solid 0.5px var(--biru-gelap);
  transition: 0.3ms;
}
.navbar .button {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14;
  color: var(--bg);
  display: inline-block;
  border-radius: 25px;
  width: 90px;
  height: 35px;
  text-align: center;
  padding-top: 5px;
  background-color: var(--primary);
}

.navbar .button:hover {
  color: var(--primary);
  background-color: var(--hitam-terang);
  border: solid 0.5px var(--biru-gelap);
}

/* navbar end */

/* Hero star */
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 40px;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1.7),
      rgba(0, 0, 0, 0)
    ),
    url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.container .conten {
  display: block;
  margin-top: 10px;
  margin-left: 10%;
  align-content: center;
  color: var(--primary);
}

.container h1 {
  font-size: 70px;
  font-family: "Miltonian Tattoo";
}

.container p {
  margin-top: 15px;
  /* font-size: 16px; */
  font-family: "Poppins";
}

.container a {
  display: block;
  background-color: var(--primary);
  height: 40px;
  width: 140px;
  font-family: "Poppins";
  font-weight: 800;
  /* font-size: 13px; */
  text-align: center;
  padding-top: 6px;
  border-radius: 25px;
  margin-top: 40px;
  color: #000;
  border: solid 1px var(--silver);
}

.container a:hover {
  color: var(--primary);
  background-color: var(--hitam-terang);
  border: solid 0.5px var(--biru-gelap);
}
/* Hero end */

/* Media Queris */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  .navbar {
    height: 50px;
  }

  .navbar .Logo {
    font-family: "Niconne", cursive;
    font-weight: 500;
    font-style: normal;
    color: #66fcf1;
    font-size: 25px;
  }

  .navbar .navigasi a {
    position: absolute;
    top: 100%;
    right: -100%;
  }

  .navbar .button {
    font-family: "Poppins";
    font-weight: 800;
    font-size: 14;
    color: var(--bg);
    display: inline-block;
    border-radius: 25px;
    width: 70px;
    height: 25px;
    text-align: center;
    padding-top: 5px;
    background-color: var(--primary);
  }

  .container a {
    display: block;
    background-color: var(--primary);
    height: 25px;
    width: 90px;
    font-family: "Poppins";
    font-weight: 800;
    text-align: center;
    padding-top: 3px;
    border-radius: 25px;
    margin-top: 40px;
    color: #000;
    border: solid 1px var(--silver);
  }
}
/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .navbar .navigasi a {
    position: absolute;
    top: 100%;
    right: -100%;
  }

  .navbar .button {
    font-family: "Poppins";
    font-weight: 800;
    font-size: 14;
    color: var(--bg);
    display: inline-block;
    border-radius: 25px;
    width: 70px;
    height: 25px;
    text-align: center;
    padding-top: 7px;
    background-color: var(--primary);
  }

  .container {
    display: flex;
    width: 100%;
    height: 75vh;
    margin-top: 5px;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1.7),
        rgba(0, 0, 0, 0)
      ),
      url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }

  .container {
    min-height: 70vh;
    background-position: right;
  }
  .container .conten {
    display: block;
    margin-top: 100px;
    margin-left: 2px;
    padding: 20px 20px;
    align-content: center;
    color: var(--primary);
  }
  .container h1 {
    font-size: 40px;
    font-family: "Miltonian Tattoo";
  }

  .container p {
    margin-top: 5px;
    font-size: 11px;
    font-family: "Poppins";
  }

  .container a {
    display: block;
    background-color: var(--primary);
    height: 30px;
    width: 100px;
    font-family: "Poppins";
    font-weight: 800;
    /* font-size: 13px; */
    text-align: center;
    padding-top: 8px;
    border-radius: 25px;
    margin-top: 15px;
    color: #000;
    border: solid 1px var(--silver);
  }
}
